:root.theme_dark {
  --main-color:  #F1B2CE;
  --accent-color: #FF0070;
  --secondary-accent-color:  #000028;
  --title-color: #DB00FF;
  --bg-color:  #000028;
  --bg-accent-color: #FF0070;
  --bg-image: url("../images/cover-image-dark.png");
}

.page.theme_dark {
  --main-color:  #F1B2CE;
  --accent-color: #FF0070;
  --secondary-accent-color:  #000028;
  --title-color: #DB00FF;
  --bg-color:  #000028;
  --bg-accent-color: #FF0070;
  --bg-image: url("../images/cover-image-dark.png");
}

.decorated-zone__element {
  display: block;
} 