:root.theme_dark {
  --main-color: #f1b2ce;
  --accent-color: #ff0070;
  --secondary-accent-color: #000028;
  --title-color: #db00ff;
  --bg-color: #000028;
  --bg-accent-color: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
}

.page.theme_dark {
  --main-color: #f1b2ce;
  --accent-color: #ff0070;
  --secondary-accent-color: #000028;
  --title-color: #db00ff;
  --bg-color: #000028;
  --bg-accent-color: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
}

.decorated-zone__element {
  display: block;
}
