.page.theme_light {
  --main-color: #353430;
  --accent-color: #353430;
  --secondary-accent-color: #353430;
  --title-color: #ffc2e6;
  --bg-color: #fff1f7;
  --bg-accent-color: #ff8dcb;
  --bg-image: url("../images/cover-image-light.png");
  --text-shadow-header: 4px 4px 0px #ff0070;
  --text-shadow-footer: 2px 2px 0px #ff0070;
}


.page.theme_light .decorated-zone__element {
  display: none;
}

@media (width <= 950px) {
  .page.theme_light {
    --text-shadow-header: 4px 4px 0px #ff8dcb;
    --text-shadow-footer: 2px 2px 0px #ff8dcb;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #353430;
    --accent-color: #353430;
    --secondary-accent-color: #353430;
    --title-color: #ffc2e6;
    --bg-color: #fff1f7;
    --bg-accent-color: #ff8dcb;
    --bg-image: url("../images/cover-image-light.png");
    --text-shadow-header: 4px 4px 0px #ff0070;
    --text-shadow-footer: 2px 2px 0px #ff0070;
  }

  .page .decorated-zone__element {
    display: none;
  }

  @media (width <= 950px) {
    :root  {
      --text-shadow-header: 4px 4px 0px #ff8dcb;
      --text-shadow-footer: 2px 2px 0px #ff8dcb;
    }
  }
}
