.page {
  color: var(--main-color);
  background-color: var(--bg-color);
  font-size: 18px;
  font-weight: 400;
  font-family: var(--main-font, sans-serif);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.content-section {
  padding-inline: 20px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100dvb;
  padding-block: 20px;
  align-items: center;
  min-block-size: 768px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-block-start: 20px;
  inset-inline-end: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-block-end: 20px;
  inset-inline-start: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.decorated-zone__element {
  position: absolute;
  color: var(--accent-color);
  inset-block-start: 20px;
  inset-inline-end: 40px;
  line-height: 138.889%;
  text-transform: uppercase;
}

.decorated-zone__element::after {
  content: "";
  position: relative;
  display: inline-block;
  inset-block-start: -2px;
  inset-inline-end: -10px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: center;
  align-self: flex-start;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  cursor: pointer;
  color: var(--accent-color);
  padding-inline: 12px;
  padding-block: 2px 4px;
  border: 1px solid transparent;
  background-color: transparent;
  text-align: center;
  text-transform: lowercase;
  line-height: 18px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--focus-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__title {
  color: var(--title-color);
  margin-inline-start: -20px;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text-block {
  justify-self: end;
  width: 50%;
}

.title-decor {
  color: var(--secondary-accent-color);
  background-color: var(--bg-accent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.main {
  display: grid;
  padding-block: 60px;
  gap: 80px;
  grid-template-rows: repeat(4, min-content);
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section__title {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color);
}

.content__paragraph {
  margin-block-start: 10px;
  line-height: 130%;
}

.content__paragraph-link {
  display: inline-block;
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--bg-accent-color);
}

.content__paragraph-link:hover {
  border-block-end: 1px solid var(--accent-color);
  margin-block-end: -1px;
  cursor: pointer;
}

.content__paragraph-link:focus {
  outline: none;
}

.content__paragraph-link:focus-visible {
  outline: 1px solid var(--accent-color);
}

.content-causes__text-block {
  grid-column: 2 / span 2;
}

.content-sources__text-block {
  grid-row: 2;
}

.content-adviсe__text-block {
  grid-column: 2 / span 2;
}

.paragraph__subtitle {
  margin-block-start: 20px;
  font-weight: 400;
}

.contnet-gallery_title {
  grid-column: 1 / 4;
}

.contnet-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contnet-gallery__image:nth-child(2) {
  grid-column: 1 / span 2;
}

.contnet-gallery__image:nth-child(3) {
  grid-column: 3/4;
  grid-row: 2/4;
}

.contnet-gallery__image:nth-child(4) {
  grid-column: 1/2;
  grid-row: 3/5;
}

.contnet-gallery__image:nth-child(6) {
  grid-column: 2/4;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvb;
  position: relative;
  min-block-size: 768px;
}

.footer__title {
  text-shadow: 2px 2px 0px var(--accent-color);
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
}

@media (width <= 950px) {
  .header {
    align-items: center;
    min-block-size: 1024px;
  }

  .header__theme-menu {
    justify-self: flex-end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 10px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .content-causes__text-block {
    grid-column: 2;
  }

  .content-sources__text-block {
    grid-column: span 2;
    grid-row: auto;
  }

  .content-adviсe__text-block {
    grid-column: 2;
  }

  .contnet-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .footer {
    min-block-size: 1024px;
  }
}

@media (width <= 525px) {
  .header {
    padding-block: 10px;
    min-block-size: 668px;
  }

  .content-section {
    padding-inline: 10px;
  }

  .decorated-zone::before {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .decorated-zone::after {
    inset-block-end: 10px;
    inset-inline-start: 10px;
  }

  .decorated-zone__element {
    inset-block-start: 11px;
    inset-inline-end: 29px;
  }

  .header__title {
    margin-inline-start: 0px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text-block {
    width: 100%;
  }

  .main {
    padding-block: 40px;
    gap: 50px;
  }

  .section {
    grid-template-columns: 1fr;
  }

  .content-causes__text-block {
    grid-column: auto;
  }

  .content-sources__text-block {
    margin-block-start: 1px;
  }

  .content-adviсe__text-block {
    grid-column: auto;
  }

  .contnet-gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    min-block-size: 668px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  }
}
