:root {
  --main-color: #f1b2ce;
  --main-font: IBM Plex mono;
  --accent-color: #ff0070;
  --secondary-accent-color: #000028;
  --title-color: #db00ff;
  --bg-color: #000028;
  --bg-accent-color: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
  --focus-color: rgba(255, 0, 112, 0.40);;
  --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --text-shadow-header: 4px 4px 0px #ff0070;
  --text-shadow-footer: 2px 2px 0px #ff0070;
  --btn-border-hover-color: rgba(255, 0, 112, 0.40);;
  --btn-focus-color: #FF0070;
}
